<div>
  <a mat-raised-button color="primary" (click)="openCreatePost()">Create</a>
</div>
<div class="container" fxLayout xLayoutAlign="center">
  <div fxFlex="80%">
    <table mat-table [dataSource]="posts" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let post"> {{post.id}} </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let post"> {{post.title}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let post"> {{post.status}} </td>
      </ng-container>

      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef> Author </th>
        <td mat-cell *matCellDef="let post"> {{post.author}} </td>
      </ng-container>

      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef> Created Date </th>
        <td mat-cell *matCellDef="let post"> {{post.createdDate}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let post"> {{post.category}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="action"> Action </th>
        <td mat-cell *matCellDef="let post">
          <div class="container" fxLayout fxLayoutAlign="center">
            <div fxFlex="50%" class="action"><a mat-button (click)="openViewPost(post.id)">View</a></div>
            <div fxFlex="50%" class="action"><a mat-button (click)="openEditPost(post.id)">Edit</a></div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="postColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: postColumns;"></tr>

    </table>
  </div>
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
  <div fxFlex="20">
  </div>
  <div fxFlex="10" *ngIf="!isFirstPage">
    <button mat-raised-button color="primary" (click)="onClickPrevious()">Previous</button>
  </div>
  <div fxFlex="10" *ngIf="!isLastPage">
    <button mat-raised-button color="primary" (click)="onClickNext()">Next</button>
  </div>
  <div fxFlex="20">
  </div>
</div>
