<div class="container" fxLayout fxLayoutAlign="start">
  <form [formGroup]="categoryForm" (ngSubmit)="save()" id="category-form" class="category-form" >
    <div fxLayout="row" class="row">
      <div fxFlex=12% class="label"><b>Name:</b></div>
      <div fxFlex=80%>
        <mat-form-field appearance="outline">
          <input matInput formControlName="name">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" class="row">
      <div fxFlex=12% class="label"><b>Description:</b></div>
      <div fxFlex=80%>
        <mat-form-field appearance="outline">
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" class="row">
      <div fxFlex=12% class="label"><b>Status:</b></div>
      <div fxFlex=80%>
        <mat-form-field appearance="outline">
          <mat-select formControlName="status">
            <mat-option *ngFor="let status of categoryStatuses" [value]="status">
              {{status}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" class="row">
      <div fxFlex=12%><b>Created By:</b></div>
      <div fxFlex=80%>{{ category.createdBy }}</div>
    </div>
    <div fxLayout="row" class="row">
      <div fxFlex=12% ><b>Created Date:</b></div>
      <div fxFlex=80%>{{ category.createdDate }}</div>
    </div>
  </form>
</div>
<mat-divider></mat-divider>
<div class="container" fxLayout fxLayoutAlign="start">
  <div fxLayout="row" class="category-container">
    <div fxFlex=40% class="category-list">
      <label>Available Categories</label>
      <mat-list>
        <mat-list-item
          *ngFor=" let category of availableElements"
          class="category {{isInSelectedElements(category) ? 'active' : ''}}"
          (click)="toogleActiveElement(category)"> {{category.name}}
        </mat-list-item>
       </mat-list>
    </div>
    <div fxFlex=20%>
      <div fxLayout="row"><button fxFlex=100% mat-button (click)="moveToTheLeft()">&lt;&lt;</button></div>
      <div fxLayout="row"><button fxFlex=100% mat-button (click)="moveToTheRight()">&gt;&gt;</button></div>
    </div>
    <div fxFlex=40%  class="category-list">
      <label>Sub Categories</label>
      <mat-list>
        <mat-list-item
          *ngFor=" let category of addedElements"
          class="category {{isInSelectedElements(category) ? 'active' : ''}}"
          (click)="toogleActiveElement(category)"> {{category.name}}
        </mat-list-item>
       </mat-list>
    </div>
  </div>
</div>
<button mat-button type="submit" form="category-form">Save</button>
