<h2 *ngIf="selectedTag != null">Tag: {{ selectedTag.name }}</h2>
<mat-spinner *ngIf="posts !== null && posts.length === 0"></mat-spinner>
<div *ngFor="let post of posts" class="post">
  <mat-card >
    <mat-card-header>
      <mat-card-title><a [routerLink]='["/posts/" + post.id]'>{{ post.id }}</a></mat-card-title>
      <mat-card-subtitle>{{ post.author }}</mat-card-subtitle>
      <mat-card-subtitle>{{ post.createdDate }}</mat-card-subtitle>
      <mat-card-subtitle>{{ post.categoryName }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  </mat-card>
</div>

<div fxLayout="row" *ngIf="posts !== null && posts.length !== 0" fxLayout.xs="column" fxLayoutAlign="center">
  <div fxFlex="20">
  </div>
  <div fxFlex="10" *ngIf="!isFirstPage">
    <button mat-raised-button color="primary" (click)="onClickPrevious()">Previous</button>
  </div>
  <div fxFlex="10" *ngIf="!isLastPage">
    <button mat-raised-button color="primary" (click)="onClickNext()">Next</button>
  </div>
  <div fxFlex="20">
  </div>
</div>
