<div class="left-menu">
  <mat-list>
    <a mat-list-item routerLink="categories" [routerLinkActive]="['is-active']">Category</a>
    <a mat-list-item routerLink="posts" [routerLinkActive]="['is-active']">Post</a>
    <a mat-list-item routerLink="tags" [routerLinkActive]="['is-active']">Tag</a>
    <a mat-list-item routerLink="comments" [routerLinkActive]="['is-active']">Comment</a>
    <a mat-list-item routerLink="teams" [routerLinkActive]="['is-active']">Team</a>
    <a mat-list-item routerLink="users" [routerLinkActive]="['is-active']">User</a>
  </mat-list>
</div>

