.category-form {
  width: 100%;
}

mat-form-field {
  width: 80%;
}

.label {
  margin-top: 1.5rem;
}

.row {
  margin-top: 0.5rem;
}

.category-container {
  width: 100%;
}

.category-list {
  border: 1px solid lightgray;
}

.active {
  background-color: lightblue;
}

.container {
  margin: 1rem 0 1rem 0;
}

.move-button {
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
