.category-form {
  width: 100%;
}

mat-form-field {
  width: 80%;
}

.label {
  margin-top: 1.5rem;
}

.row {
  margin: 1rem 0 1rem 0;
}

.category-container {
  margin-top: 2rem;
  width: 100%;
}

.category-list {
  border: 1px solid lightgray;
}

.active {
  background-color: lightblue;
}
